body {
	background-color: #101010;
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5% 55% 40%;

    //justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.score{
    grid-column: 2;
    grid-row: 2;
    font-size: 2rem;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 200px 200px;
    opacity: 1;
    //margin-left: 10%;
    padding: 0rem;
}
#blue {
    color: blue;
    opacity: 1;
    font-weight: 0.9;
    font-size: 26px;
}
#red {
    color: red;
}
#green {
    color: green;
}
#yellow {
    color: yellow;
    opacity: 1;
}
div{
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}
canvas{
    grid-column: 1;
    grid-row: 1 / 3;
    //margin-top: 3%;
    margin-left: 20%;
    margin-right: 0%;
    margin-top: 1%;
    opacity: 0.8;
    strokeStyle: '#ff0000';
    border: 8px solid gray;
    border-radius: 5px;
}
p {
    color: white;
    opacity: 0.9;
}
#greeting {
    grid-column: 2;
    grid-row: 1;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 36px;
    opacity: 0.9;
}
.score_button {
    background-color: #101010;
    width: 200px;
    margin: 10px 10px 10px 10px;
}
/* PRODUCTS */
.product_blue {
  grid-row: 3;
  grid-column: 1 / 4;
  overflow: hidden;
  visibility: visible; 
}
.product_red {
  grid-row: 3;
  grid-column: 1 / 4;
  overflow: hidden;
  visibility: hidden; 
}
.product_green {
  grid-row: 3;
  grid-column: 1 / 4;
  overflow: hidden;
  visibility: hidden;   
}
.product_yellow {
  grid-row: 3;
  grid-column: 1 / 4;
  overflow: hidden;
  visibility: hidden; 
}
.product-category {
  padding: 0 5vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.product-container {
  margin-top: 1%;
  display: flex;
}
.product-container-2 {
  display: flex;
}
.product-card {
  padding: 0.5% 0.5%;
  flex: 0 0 auto;
  width: 7.3%;
  height: max(10rem);
  justify-items: center;
  justify-content: center;
}
@media (max-width: 1500px) {
    .product-card {
      padding: 0.5% 0.5%;
      flex: 0 0 auto;
      width: 7.3%;
      height: 7rem;
      justify-items: center;
      justify-content: center;
    }
    body {
        background-color: #101010;
        color: white;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 5% 57% 38%;
        //justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}
.product-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  justify-items: center;
  justify-content: center;
}
.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
.product-card:hover .card-btn {
  opacity: 0.7;
}
.card-btn:hover {
  background: #101010;
  color: #fff;
}
.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.collection {
  position: relative;
}
.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}
.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}
